.background {
  background-image: url(../content/images/background.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh; /* responsive height */
  background-color: #e9e1cd;
}

.translucent {
  background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
}

.slide-in {
animation: slide-in-right .3s forwards;
}
/**
 * ----------------------------------------
 * animation slide-in-right
 * ----------------------------------------
 */
@keyframes slide-in-right {
  0% {
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
